.App{
    background-color: yellow;
    margin-left: 700px;
    display: block;
    text-align: center;
    margin-top: 300px;
    border: 5px solid orange;
    width: 200px;
}
.counter{
    color: red;
}
.btn {
    font-size: 20px;
    border-radius: 10px;
    background: cornflowerblue;
}
.newCounter{
    font-size: 30px;
    display: contents;
    }